doctype
html(lang='en')
  head
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title MyAPP
  body
    header.body-header
      .logo.left
        img(src="images/logo.png").logo-img
      .toggle-sidebar.right
        a(href="#")
          i(class="fa fa-bars fa-2x bars" aria-hidden="true")
      .logout.right
        img(src="images/logout.png").logout-img
        span.logout-text Logout
    mixin add-nav-item(imageName, text)
      - var url = "images/" + imageName + ".png"
      li.aside-nav-item
        a(href="#")
          img.aside-nav-item-image(src=url)
          span.aside-nav-item-text= text

    #overlay
    aside
      nav
        .nav-header Menu
        ul.aside-menu-list
          +add-nav-item("heart_icon", "Welcome")
          +add-nav-item("star", "BCG")
          +add-nav-item("profile", "My Organization")
          +add-nav-item("logo_icon", "myAPP")
          +add-nav-item("heart_icon", "Good Faith Efforts")
          +add-nav-item("star", "Narrative Manages")
          +add-nav-item("profile", "Dashboard")
          +add-nav-item("logo_icon", "Files")
          +add-nav-item("star", "Learning Resources")
          +add-nav-item("heart_icon", "Subscription")

      .aside-logo
        img(src="images/logo.png")

    main
      header.box-header
        span.left-text Learning Resources&nbsp&#8226&nbsp
        span.rigth-text Ask an EEO Expert
      .post
        .post-left.left
          img(src="images/calendar_icon.png").post-left-image
          .post-left-line
        .post-message.left
          p.post-message-header EEO-1 and Vets 100/100a Q&A
          p Friday, October 3, 2014
          p My company has multiple locations. When I filed the EEO-1 report,
            | a consolidated report was created when I filed for each location.
            | Is there a consolidated cpmpany report for the Vets 100A as well?
            | <br>Answer: There isn't a consolidated report (for the entire company)
            | for Vets 100a filing. The EEO-1 filing is slightly different from Vets.
            | <br>Should US expats working abroad or foreign hires working in the US on a
            | temporary basis be counted on either the 100A or EEO-1 reports?
          p.post-message-header Answer:
          p US expats should not be reported since they work physically outside
            | of the US. Temp employees should be excluded as well. <br>If a recently
            | separated vet is hired, when 36 months from the date of discharge
            | pass, do you still count them as a recently separated vet or do you
            | change their veteran status? <br>Answer: They should not be counted as a
            | recently separated veteran. Please see FAQ:
            | https://www.dol.gov/vets/contractor/main.htm#32

      .post
        .post-left.left
          img(src="images/calendar_icon.png").post-left-image
          .post-left-line
        .post-message.left
          p.post-message-header EEO-1 and Vets 100/100a Q&A
          p Friday, October 3, 2014
          p My company has multiple locations. When I filed the EEO-1 report,
            | a consolidated report was created when I filed for each location.
            | Is there a consolidated cpmpany report for the Vets 100A as well?
            | <br>Answer: There isn't a consolidated report (for the entire company)
            | for Vets 100a filing. The EEO-1 filing is slightly different from Vets.
            | <br>Should US expats working abroad or foreign hires working in the US on a
            | temporary basis be counted on either the 100A or EEO-1 reports?
          p.post-message-header Answer:
          p US expats should not be reported since they work physically outside
            | of the US. Temp employees should be excluded as well. <br>If a recently
            | separated vet is hired, when 36 months from the date of discharge
            | pass, do you still count them as a recently separated vet or do you
            | change their veteran status? <br>Answer: They should not be counted as a
            | recently separated veteran. Please see FAQ:
            | https://www.dol.gov/vets/contractor/main.htm#32

      .post
        .post-left.left
          img(src="images/calendar_icon.png").post-left-image
          .post-left-line
        .post-message.left
          p.post-message-header EEO-1 and Vets 100/100a Q&A
          p Friday, October 3, 2014
          p My company has multiple locations. When I filed the EEO-1 report,
            | a consolidated report was created when I filed for each location.
            | Is there a consolidated cpmpany report for the Vets 100A as well?
            | <br>Answer: There isn't a consolidated report (for the entire company)
            | for Vets 100a filing. The EEO-1 filing is slightly different from Vets.
            | <br>Should US expats working abroad or foreign hires working in the US on a
            | temporary basis be counted on either the 100A or EEO-1 reports?
          p.post-message-header Answer:
          p US expats should not be reported since they work physically outside
            | of the US. Temp employees should be excluded as well. <br>If a recently
            | separated vet is hired, when 36 months from the date of discharge
            | pass, do you still count them as a recently separated vet or do you
            | change their veteran status? <br>Answer: They should not be counted as a
            | recently separated veteran. Please see FAQ:
            | https://www.dol.gov/vets/contractor/main.htm#32


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="index.js")
